EMAIL_SERVER=email_server_for_nodemailer
DATABASE_URL=url_to_database
GITHUB_SECRET=github_oauth_credentials
GITHUB_ID=github_oauth_credentials
JWT_SECRET=top_secret
NEWS_KEY=api_key_for_google_news_api
NEXTAUTH_URL=base_url_for_nextauth_(unnecessary_for_vercel)
S3_BUCKET=aws_credentials
S3_REGION=aws_credentials
S3_UPLOAD_KEY=aws_credentials
S3_UPLOAD_SECRET=aws_credentials
GOOGLE_ID=google_oauth_credentials
GOOGLE_SECRET=google_oauth_credentials
